@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background: white;
    padding: 30px 15px;
    overflow: hidden;
    transition: 0.4s;
}

body {
    background: #F1F1F1;
    font-family: 'Rubik', sans-serif;

}

.sidebar__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    color: #2A86B1;
    font-size: 60px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 55px;
    margin-left: 15px;
}

.menu__link {
    color: #939393;
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 29px;
}

.menu__link:hover {
    color: #2A86B1;
}

.link__span {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.menu__list:nth-child(3) .menu__link {
    font-size: 45px;
}

.menu__list:nth-child(4) .menu__link {
    font-size: 45px;
}

.sidebar:hover {
    width: 234px;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.banner__wrap {
    margin: 30px 0;
    height: 500px;
    padding-left: 62px;
    background: url(../img/bg.png) no-repeat center/cover white;
    border-radius: 14px;
    display: flex;
    align-items: center;

}

.banner__desc {
    max-width: 332px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.desc__h {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    color: #464748;
}

.desc__p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #696868;
}

.btn {
    background: #3FA5D5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: white;
}

.btn:hover {
    background: #2A86B1;
}

.desc__btn {
    padding: 7px 62px;
}

.cards{
    margin-bottom: 48px;
    
}

.cards__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card{
    text-align: center;
    background: #FFFFFF;
    border-radius: 15px;
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 338px;
    padding: 38px 18px 32px;
}

.card__h{
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2A86B1;
}

.card__icon{
    color: #3FA5D5;
    font-size: 100px;
}

.card__btn{
    padding: 7px 64px;
}

.clone{
    margin-bottom: 44px;
}

.clone__wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.clone__news{
    max-width: 825px;
    width: 100%;
}
.news__h{
    margin-bottom: 22px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #686868;
}

.news__post{
    padding: 15px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #545454;
}

.news__post:last-child{
    margin: 0;
}

.service__card{
    display: flex;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 15px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    max-width: 255px;
    width: 100%;
}
.service__card:last-child{
    margin: 0;
}

.serv__h{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 17px;
    text-align: justify;
    color: #323232;
    margin-bottom: 5px;
}

.serv__p{
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 14px;
    line-height: 94.5%;
    color: #000000;
}

.footer{
    padding: 40px 0;
    background: #3FA5D5;
}

.footer__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

.contacts__link{
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 0.3s;
}
